{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if task_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contents in task_list %}
                    <tr>
                        <td>{{ contents.name }}</td>
                        <td>{{ contents.start_date }}</td>
                        <td>{{ contents.due_date }}</td>
                        <td>{{ contents.is_completed|yesno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}